{%extends "users/base.html"%}
{%block title%}
About Us
{%endblock%}

{%block content%}

<div class="container" style="display: flex; flex-direction: column; align-items: center; text-align: center; max-width: 800px;">
    <div class="row">
        <div class="col-md-12">
            <h2 style="font-weight: bold;">About Flow</h2>
            <p style="font-family: 'Times New Roman', serif;">Welcome to Flow - Your Menstrual Health Companion
                Flow is a comprehensive menstrual cycle tracking application designed to empower individuals with essential tools and insights for managing their menstrual health. We understand that every individual's journey is unique, and that's why we've created Flow to cater to your specific needs.
            </p><hr>
            <h4 style="text-decoration: underline;font-family: 'Georgia', serif;"> Our Mission</h4>
            <p style="font-family: 'Times New Roman', serif;">At Flow, our mission is to provide a user-friendly, convenient, and informative platform for individuals to track and understand their menstrual cycles. We believe that informed choices lead to better health outcomes, and that's what we strive to deliver through our app.</p>
            <hr>
            <h4 style="text-decoration: underline;font-family: 'Georgia', serif;">See Key Features Below</h4>
            <div class="key-features">
                <h5 style="font-family: 'Times New Roman', serif;">Cycle Tracking</h5> Effortlessly monitor your menstrual cycles, predict future cycles, and receive personalized cycle insights.
                <hr>

                <h5 style="font-family: 'Arial', sans-serif;">Symptom Tracking</h5><p style="font-family: 'Times New Roman', serif;">Log your symptoms and moods to gain a deeper understanding of your body's signals.</p> 
                <hr>

                <h5 style="font-family: 'Arial', sans-serif;">Ovulation Prediction</h5><p style="font-family: 'Times New Roman', serif;">Identify your fertile days and increase your chances of conception or contraception.</p>
                    <hr> 

                <h5 style="font-family: 'Arial', sans-serif;">Health Insights</h5><p style="font-family: 'Times New Roman', serif;"> Access a wealth of information and resources related to menstrual health, fertility awareness, and more.</p>
                <hr>

                <h5 style="font-family: 'Arial', sans-serif;">Community and Support</h5><p style="font-family: 'Times New Roman', serif;"> Connect with a supportive community of individuals who share similar experiences and concerns.</p>
                <hr>

                <h5 style="font-family: 'Arial', sans-serif;">Data Security and Privacy</h5><p style="font-family: 'Times New Roman', serif;"> Rest assured that your data is kept secure and private, with your control over how it's used.</p>
                <hr>
            </div>

            <h2 style="font-family: 'Times New Roman', serif;">Why Flow?</h2>
            <p style="font-family: 'Times New Roman', serif;">Flow is more than just a menstrual tracker; it's your partner in menstrual well-being. We believe in providing accurate information, fostering a supportive community, and offering features that cater to your unique needs.

            Whether you're planning a family, managing your health, or simply seeking a better understanding of your body, Flow is here to guide you every step of the way.</p>

            <p style="font-family: 'Times New Roman', serif;">Join Us Today
                Join the Flow community and take control of your menstrual health. Discover the benefits of informed choices, access valuable insights, and connect with a community that understands your journey.

                Start your Flow experience today and embark on a path to better menstrual health.
            </p>
        </div>
    </div>
</div>


{%endblock%}