{%extends "users/base.html"%}
{%block title%}
About Us
{%endblock%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About Flow</h2>
            <p>Welcome to Flow - Your Menstrual Health Companion
                Flow is a comprehensive menstrual cycle tracking application designed to empower individuals with essential tools and insights for managing their menstrual health. We understand that every individual's journey is unique, and that's why we've created Flow to cater to your specific needs.
                </p>
                <!-- <img src="/static/images/background.jpg" alt="About Image" style="width: 100%; height: 10%; object-fit: cover;"> -->
               <h4> Our Mission</h4>
               At Flow, our mission is to provide a user-friendly, convenient, and informative platform for individuals to track and understand their menstrual cycles. We believe that informed choices lead to better health outcomes, and that's what we strive to deliver through our app.
               
              <h4>Key Features</h4> 
               Flow offers a range of features to help you navigate your menstrual health journey with ease:<hr>
               
              <h5>Cycle Tracking:</h5> Effortlessly monitor your menstrual cycles, predict future cycles, and receive personalized cycle insights.<hr>
               
               <h5>Symptom Tracking:</h5> Log your symptoms and moods to gain a deeper understanding of your body's signals.<hr>
               
               <h5>Ovulation Prediction:</h5>Identify your fertile days and increase your chances of conception or contraception.<hr>
               
               <h5>Health Insights:</h5> Access a wealth of information and resources related to menstrual health, fertility awareness, and more.<hr>
               
               <h5>Community and Support:</h5> Connect with a supportive community of individuals who share similar experiences and concerns.<hr>
               
               <h5>Data Security and Privacy:</h5> Rest assured that your data is kept secure and private, with your control over how it's used.<hr>
               <hr>
               <p>Why Flow?</p>
               Flow is more than just a menstrual tracker; it's your partner in menstrual well-being. We believe in providing accurate information, fostering a supportive community, and offering features that cater to your unique needs.
               
               Whether you're planning a family, managing your health, or simply seeking a better understanding of your body, Flow is here to guide you every step of the way.
               <p>Join Us Today
                   Join the Flow community and take control of your menstrual health. Discover the benefits of informed choices, access valuable insights, and connect with a community that understands your journey.
                   
                   Start your Flow experience today and embark on a path to better menstrual health.</p>
        </div>
    </div>
</div>

{%endblock%}