{%extends "users/base.html"%}
{% block title%}
medication
{%endblock%}
{%block content%}
<div class="row">
    <div class="col-md-12">
        <h4 style="text-align: center;">Medication Entry</h4>
        <form action="" method="post"> <!-- You can specify the action and method as needed -->
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <!-- Medication Name -->
            <h5>Symptom:{{symp.symptom_type}}</h5>
            <label for="medication-name">Medication Name:</label>
            <input type="text" id="medication-name" name="medication_name" class="form-control" required>
            <br><br>
    
            <!-- Dosage -->
            <label for="dosage">Dosage(tablets):</label>
            <input type="text" id="dosage" name="dosage" class="form-control" required>
            <br><br>
    
            <!-- Date Taken -->
            <label for="date-taken">Date Taken:</label>
            <input type="date" id="date-taken" name="date_taken" class="form-control" required>
            <br><br>
    
            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
{%endblock%}