{%extends "users/base.html"%}
{%block title%}
edit_profile
{%endblock%}
{% block content%}
<div class="row justify-content-center align_items_center">
    <div class="col-md-10">
<form action="" method="post">
     <div class="form-group">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <label for="periodLength">Period Length (in days)</label>
        <input class="form-control" type="number" id="periodLength" name="periodLength" required>
    </div>
    <div class="form-group">
        <label for="cycleLength">Cycle Length (in days)</label>
        <input class="form-control" type="number" id="cycleLength" name="cycleLength" required>
    </div>
    <div class="form-group">
        <label for="lastPeriod">Last Period Date</label>
        <input  class="form-control"type="date" id="lastPeriod" name="lastPeriod" required>
    </div>
    <div class="form-group">
        <textarea name="note" class="form-control" placeholder="Enter your note here"></textarea>
    </div>
    <div class="form-group">
        <label for="symptoms">Symptom</label>
        <input  class="form-control"type="text" id="symptoms" name="symptoms" required>
    </div>
    <div class="form-group">
        <label for="numbers">Choose a severity of symptoms(in percentage):</label>
        <select id="numbers" name="numbers">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="daterecorded">Date of symptom:</label>
        <input  class="form-control"type="date" id="date" name="daterecorded" required>
    </div>
    <div class="form-group">
        <label for="mood">Type of mood:</label>
        <input  class="form-control"type="text" id="mood" name="mood" required>
    </div>
    <div class="form-group">
        <label for="moodSwing">Mood Swing:</label>
        <input type="text" id="moodSwing" name="moodSwing" placeholder="Enter YES or NO">
    </div>
    <div class="form-group">
        <label for="daterecord">Date of mood:</label>
        <input  class="form-control"type="date" id="date" name="daterecord" required>
    </div>
    
    <button class="btn btn-primary">Add Profile</button>
</form>
</div>
</div>
{%endblock%}