{%extends "users/base.html"%}
{%block content%}
     
<div class="content" style="background-color: white;padding:3em">
  <h3>Change Your Profile Picture:</h3>
  <p>Upload a new profile picture:</p>
  <form enctype="multipart/form-data",methods="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    {% if dp.errors %}
        <div class="alert alert-danger">{{dp.errors}}</div>
    {%endif%}
    <div class="mb-3">
        {{ dp.label}}
        {{dp}}
    </div>
    <div class="mb-3">
        {{ btnupload(class_='btn btn-warning noround')}}
    </div>
  </form>
 </div>
{%endblock%}






