{%extends "users/base.html"%}
        {%block content%}
        <!-- <h1>Welcome to Home Page</h1> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-column">
                        <div class="background-image">
                            <img src="static/images/background.jpg" alt="Background Image" style="max-width: 100%; max-height: 100%; object-fit: cover;">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-column">
                        <h2>About Flow</h2>
                        <p>A menstrual cycle tracking app is a valuable tool for individuals to monitor and manage their menstrual health. 
                            This app provides users with a convenient and user-friendly interface to keep track of their menstrual cycles,
                             predict future cycles, and access relevant information and resources. </p>
                        <div class="buttons">
                            <button class="btn btn-primary"><a href="/about">Read More</a></button>
                            <button class="btn btn-primary"><a href="/login/">Start</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endblock%}
   