{% extends "users/base.html"%}
{% block content %}

    <main>
        <section class="profile-header">
            <h1>My Profile</h1>
            <p>Welcome,{{user.user_username}}!</p>
        </section>
        <section class="profile-info">
            <h2>Personal Information</h2>
            <ul>
                <li><strong>Email:</strong>{{user.user_email}}</li>
                <li><strong>Date of Birth:</strong>{{user.user_dob}}</li>
                <li><strong>Height:</strong>{{user.user_height}}cm</li>
                <li><strong>Weight:</strong>{{user.user_weight}}kg</li>
            </ul>
            <a href="{{url_for('edit_user',id=user.user_id)}}">Edit Profile</a> <!-- Link to edit profile page -->
        </section>
        <section class="cycle-info">
            <h2>Menstrual Cycle Information</h2>
            {%if cycle %}
            <ul>
                <li><strong>Period Length:</strong>{{cycle.period_length}} days</li>
                <li><strong>Cycle Length:</strong>{{cycle.cycle_length}} days</li>
                <li><strong>Last Period:</strong>{{cycle.lastperioddate}}</li>
            </ul>
            {% if symptoms%}
            <p><strong>Symptom:</strong>{{symptoms.symptom_type}}</p>
            <p><strong>Severity:</strong>{{symptoms.Severity}}/10</p>
            <p><strong>Daterecorded:</strong>{{symptoms.recorded_at}}</p>
            {%else%}
            <div class="alert alert-info">
                <p>No Symptom Added</p>
            </div>
            {% endif %}
            {% if mood %}
            <p><strong>Mood Name:</strong>{{mood.mood_name}}</p>
            <p><strong>Mood Swing:</strong>{%if mood.mood_swing=='1'%}Yes{%else%}No{%endif%}</p>
            <p><strong>Daterecord:</strong>{{mood.date_recorded}}</p>
            {%else%}
            <div class="alert alert-info">
                <p>No Mood Added</p>
            </div>
            {% endif %}
            <a href="{{url_for('edit_profile',id=user.user_id)}}">Edit Cycle Info</a>
            {%else%}
            <div class="alert alert-info">
                <p>No Cycle Information Yet</p>
            </div>
            <a href="{{url_for('add_profile',id=user.user_id)}}">Add Cycle Info</a>
            {%endif%}
            
             <!-- Link to edit cycle info page -->
        </section>
    </main>
    

{%endblock%}